body:not(nav){
    background-color: white;
}
li a:hover {
    background-color: white;
  }
@font-face {
    font-family: "rustica";
    font-weight: 500;
    font-style: normal;
    src: url(https://use.typekit.net/mig0dxi.css)
  }
  
div {
    font-family: "rustica";
    font-weight: 400;
    font-style: normal;
}

.h1 {
  font-family: "rustica";
  font-weight: 500;
  font-style: bold;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;

}



.popup {
  background-color: #c2ddd8;
  color:#54848c;
}
.navbar ul a{
  text-decoration: none;
}
.navbar li a:hover{
  color: #5CA4AB;
  background-color: white;
}
.grid-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 25% 25% 25% 25%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
li a:hover {
  background-color: #c2ddd8;
}

.grid-item-var {
grid-column: 1/span 4; 
grid-row: 1; 
background-color: #C7EBEE;
padding: 30px;
font-size: 20px;
text-align: center;
}

.grid-item-var2 {
grid-column: 1/span 4; 
grid-row: 7; 
background-color: #5CA4AB;
padding: 15px;
font-size: 20px;
text-align: center;
color: white;
}
.grid-item-var3 {
grid-column: 1/span 4; 
grid-row: 3; 
background-color: #54848c;
padding: 30px;
font-size: 40px;
text-align: center;
}
.grid-item-var4 {
grid-column: 1/span 4; 
grid-row: 4; 
background-color: #2f444c;
padding: 30px;
font-size: 30px;
text-align: center;
}
.grid-item-img {
grid-column: 1/span 2; 
grid-row: 2; 
background-color: white;
padding: 100px;
font-size: 20px;
}
.grid-item-img2 {
grid-column: 3/span 2; 
grid-row: 5; 
background-color: white;
padding: 60px;
font-size: 20px;
text-align: center;
}
.grid-item-img3 {
grid-column: 1/span 2; 
grid-row: 6; 
background-color: white;
padding: 60px;
font-size: 20px;
text-align: center;
}
.grid-item-txt {
grid-column: 3/span 2; 
grid-row: 2; 
background-color: white;
padding-top: 10%;
text-align: center;
}
.grid-item-txt2 {
grid-column: 1/span 2; 
grid-row: 5; 
background-color: white;
padding: 60px;
font-size: 20px;
text-align: center;
}
.grid-item-txt3 {
grid-column: 3/span 2; 
grid-row: 6; 
background-color: white;
padding: 60px;
font-size: 20px;
text-align: center;
}

button {
position: relative;
background-color: #508F95;
border: none;
font-size: 28px;
color: white;
padding: 20px;
width: auto;
text-align: center;
text-decoration: none;
border-radius: 12px;
}
ul {
  list-style: none;
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #ea4c89;
  color: white;
}
.grid-container-3 {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.grid-item-title {
grid-column: 1/span 3; 
grid-row: 2; 
background-color: white;
padding: 30px;
font-size: 35px;
text-align: center;
}
.grid-item-c1 {
grid-column: 1/span 1; 
grid-row: 3; 
background-color: white;
padding: 20px;
font-size: 20px;
}
.grid-item-c2 {
grid-column: 2/span 1; 
grid-row: 3; 
background-color: white;
padding: 20px;
font-size: 20px;
}
.grid-item-c3 {
grid-column: 3/span 1; 
grid-row: 3; 
background-color: white;
padding: 20px;
font-size: 20px;
}
.buttonC {
position: relative;
background-color: whitesmoke;
border: 3px solid darkgrey;
font-size: 28px;
color: #c2ddd8;
padding: 20px;
text-align: center;
text-decoration: none;
border-radius: 12px;
}
.nav-item {
  font-size: 28px;
  text-wrap: center;
  margin-inline-start: 15px;
}
.nav-link {
  color: white;
}